body {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 20px;
}

h2 {
    color: rgb(121, 41, 186);
}

.table1 {
    border: 3px rgb(186, 41, 89) solid;
}

.table2 {
    border: 3px rgb(186, 41, 89) solid;
}

.table1Head1 {
    background-color: palevioletred;
}

.table1Head2 {
    background-color: palevioletred;
}

.table1 th, .table1 td {
    border: 1px solid palevioletred;
    padding: 8px; 
}

.table2 th, .table2 td {
    border: 1px solid palevioletred; 
    padding: 8px; 
}